/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url(/node_modules/magnify/dist/css/magnify.css);
@keyframes span-first-on {
  0% {
    transform: translate(-50%, -300%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(-45deg); } }

@keyframes span-first-off {
  0% {
    transform: translate(-50%, -50%) rotate(-45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, -300%); } }

@keyframes span-second-on {
  0% {
    transform: translate(-50%, -50%); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-150%, -50%) scale(0); } }

@keyframes span-second-off {
  0% {
    transform: translate(-150%, -50%) scale(0); }
  25% {
    background: gray; }
  50% {
    transform: translate(-50%, -50%) scale(1); }
  100% {
    transform: translate(-50%, -50%); } }

@keyframes span-third-on {
  0% {
    transform: translate(-50%, 200%); }
  30% {
    transform: translate(-50%, -50%); }
  100% {
    transform: translate(-50%, -50%) rotate(45deg); } }

@keyframes span-third-off {
  0% {
    transform: translate(-50%, -50%) rotate(45deg); }
  30% {
    transform: translate(-50%, -50%) rotate(0deg); }
  100% {
    transform: translate(-50%, 200%); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  overflow-x: hidden; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: 0;
  overflow-x: hidden;
  background-color: #241e20; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 0; } }

p {
  font-size: 1.4rem; }
  @media only screen and (max-width: 37.5em) {
    p {
      font-size: 1.4rem; } }

.main {
  transition: 0.5s; }

.title__hr {
  width: 1%;
  border-top: 3px solid black;
  margin: 0 auto;
  padding-bottom: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .title__hr {
      width: 3%; } }

*:focus {
  outline: none !important; }

.loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: #241e20;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; }

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px; }

.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px; }

.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px; }

.lds-roller div:nth-child(1) {
  animation-delay: -0.036s; }

.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px; }

.lds-roller div:nth-child(2) {
  animation-delay: -0.072s; }

.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px; }

.lds-roller div:nth-child(3) {
  animation-delay: -0.108s; }

.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px; }

.lds-roller div:nth-child(4) {
  animation-delay: -0.144s; }

.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px; }

.lds-roller div:nth-child(5) {
  animation-delay: -0.18s; }

.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px; }

.lds-roller div:nth-child(6) {
  animation-delay: -0.216s; }

.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px; }

.lds-roller div:nth-child(7) {
  animation-delay: -0.252s; }

.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px; }

.lds-roller div:nth-child(8) {
  animation-delay: -0.288s; }

.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px; }

@keyframes lds-roller {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@font-face {
  font-family: Ink;
  src: url(/fonts/inktank.ttf); }

body {
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #111;
  letter-spacing: 0.1rem;
  background: #fff; }

.general-btn {
  font-size: 1.4rem;
  margin: 1.5rem auto 0;
  border-radius: 25px;
  padding: 8px 24px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  letter-spacing: .08rem;
  outline: none;
  transition: all .5s ease; }
  .general-btn:hover {
    cursor: pointer; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: 1;
  transition: all .5s ease-in-out; }
  @media only screen and (max-width: 56.25em) {
    .navigation {
      position: fixed;
      top: 0;
      background: white;
      height: 64px;
      box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.4); } }
  @media only screen and (max-width: 37.5em) {
    .navigation {
      display: none; } }
  .navigation__wrapper {
    display: flex;
    max-width: 1800px;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    transition: all .5s ease-in-out; }
    .navigation__wrapper__scrolled {
      padding-top: 0; }
    @media only screen and (max-width: 56.25em) {
      .navigation__wrapper {
        padding: 0 0 0 25px;
        height: 100%; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__wrapper {
        padding-left: 5px;
        padding-right: 25px; } }
  .navigation__logo-container {
    display: flex;
    text-align: left;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    align-items: center;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%; }
  .navigation__logo {
    height: 6rem;
    margin-bottom: 0;
    padding: 1.2rem;
    -webkit-filter: invert(100);
    filter: invert(100); }
    .navigation__logo:hover {
      cursor: pointer; }
    .navigation__logo__scrolled {
      -webkit-filter: invert(0);
      filter: invert(0);
      padding: 1.4rem; }
    @media only screen and (max-width: 56.25em) {
      .navigation__logo {
        margin-bottom: 0; } }
    @media only screen and (max-width: 75em) {
      .navigation__logo {
        -webkit-filter: none;
        filter: none; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo {
        padding: 1.4rem; } }
  .navigation__list {
    display: flex;
    text-align: right;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    flex: 1 1 auto;
    min-width: 0;
    max-width: 100%; }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
  .navigation__button {
    font-size: 1.6rem;
    text-transform: uppercase;
    margin: 0 auto;
    border-radius: 25px;
    padding: 5px 24px;
    border: 2px solid #fff;
    background: transparent;
    color: #fff;
    letter-spacing: .08rem;
    transition: all .5s ease; }
  .navigation__item {
    color: #fff;
    padding: 1rem 2rem;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    letter-spacing: .15rem;
    font-size: 1.6rem;
    margin-bottom: 0;
    line-height: 2.2; }
    .navigation__item:hover {
      text-decoration: none;
      color: #de2a45;
      cursor: pointer; }
  .navigation__social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 3rem; }
    .navigation__social__icon {
      height: 2.5rem;
      padding: 0 1rem;
      fill: #fff;
      transition: all .5s; }
      .navigation__social__icon:hover {
        fill: #de2a45; }
  .navigation__nav-scrolled {
    background: #ffffffe8;
    border-bottom: 0.2rem solid #111; }
    @media only screen and (max-width: 56.25em) {
      .navigation__nav-scrolled {
        border-bottom: none; } }
  .navigation__links-scrolled {
    color: #111;
    fill: #111; }

.hamburger {
  background-color: transparent;
  height: 64px;
  width: 64px;
  float: right;
  margin-top: .5rem;
  margin-right: 1rem;
  position: fixed;
  top: .5rem;
  right: 0;
  z-index: 5;
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .hamburger {
      display: inline-block;
      margin-top: 0;
      top: 0; } }
  @media only screen and (max-width: 37.5em) {
    .hamburger {
      margin: 0 1rem 0 0;
      width: 50px;
      height: 50px;
      position: fixed;
      bottom: 2rem;
      right: 1rem;
      background: rgba(27, 27, 27, 0.897);
      border-radius: 50%;
      padding: 3.4rem;
      top: initial; } }
  .hamburger_btn {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    background: transparent;
    border-radius: 50%;
    border: none;
    outline: none;
    -webkit-appearance: attachment;
    transition: margin .2s; }
    @media only screen and (max-width: 37.5em) {
      .hamburger_btn {
        width: 50px;
        height: 50px; } }
  .hamburger__span {
    position: absolute;
    width: 50px;
    height: 2px;
    top: 50%;
    left: 50%;
    background: white;
    border-radius: 2px;
    overflow: hidden;
    transition: all 0.3s linear; }
    @media only screen and (max-width: 56.25em) {
      .hamburger__span {
        background: black;
        height: 1px; } }
    @media only screen and (max-width: 37.5em) {
      .hamburger__span {
        background: #fff;
        height: 1px;
        width: 30px; } }
    .hamburger__span:before {
      content: "";
      position: absolute;
      width: 0;
      height: 100%;
      top: 0;
      right: 0;
      background: white;
      transition: all 0.3s linear; }
    .hamburger__span:nth-child(1) {
      animation: span-first-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 40%; }
    .hamburger__span:nth-child(2) {
      animation: span-second-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 49%; }
    .hamburger__span:nth-child(3) {
      animation: span-third-off 0.5s ease-in-out;
      animation-fill-mode: forwards;
      top: 59%; }
  .hamburger.on span:nth-child(1) {
    background: #fff;
    animation: span-first-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }
  .hamburger.on span:nth-child(2) {
    background: #fff;
    animation: span-second-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }
  .hamburger.on span:nth-child(3) {
    background: #fff;
    animation: span-third-on 0.5s ease-in-out;
    animation-fill-mode: forwards;
    top: 50%; }

.sidenav {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background: #de2a45;
  padding: 50px 0;
  transform: translateX(100vw);
  transition: .5s; }
  @media only screen and (max-width: 37.5em) {
    .sidenav {
      display: flex;
      flex-direction: column;
      justify-content: center; } }
  .sidenav__list {
    list-style-type: none;
    color: rgba(39, 39, 39, 0.753);
    letter-spacing: 0.2rem;
    margin: 0 0 0 2rem;
    padding: 0; }
  .sidenav__item {
    color: white;
    font-size: 4rem;
    padding-bottom: .5rem; }
    .sidenav__item a {
      color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .sidenav__item {
        font-size: 6rem; } }
  .sidenav__social {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-top: 5rem; }
    .sidenav__social__icon {
      height: 5rem;
      padding: 0 2rem 0 0;
      fill: #fff; }
  .sidenav__logo-container__logo {
    width: 28rem;
    padding-top: 3rem; }

.store-link-sidenav:hover {
  text-decoration: none;
  color: #fff; }

.no-scroll {
  overflow: hidden; }

.main-transform-x {
  transform: translateX(-100vw); }

.sidenav-transform-x {
  transform: translateX(0); }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(/img/lightbulb.png);
  min-height: 100vh;
  color: #fff;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  @media only screen and (max-width: 75em) {
    .hero {
      background-position: left; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      margin-top: 7rem;
      min-height: 94vh;
      background-size: auto;
      background-position-y: 42%; } }
  @media only screen and (max-width: 37.5em) {
    .hero {
      min-height: 100vh;
      margin-top: 0;
      border: none;
      background: url(/img/lightbulb-phone-optimized.png);
      background-size: cover; } }
  .hero__hero-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 7vh; }
    @media only screen and (max-width: 37.5em) {
      .hero__hero-container {
        padding-bottom: 12vh; } }
  .hero__title {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 400;
    color: #fff;
    text-align: center;
    font-size: 11rem;
    padding-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
    @media only screen and (max-width: 37.5em) {
      .hero__title {
        font-size: 8rem; } }
  .hero__sub-title {
    color: #fff;
    font-weight: 300;
    text-align: center;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 0.13rem; }
  .hero__button {
    font-size: 1.4rem;
    margin: 1.5rem auto 0;
    border-radius: 25px;
    padding: 8px 24px;
    border: 2px solid #de2a45;
    background: transparent;
    color: #fff;
    letter-spacing: .08rem;
    transition: all .5s ease; }
    .hero__button:hover {
      background: #de2a45;
      color: #fff; }
    .hero__button:active {
      outline: none; }
    .hero__button--store {
      background: #de2a45;
      color: #fff;
      border: 2px solid #de2a45; }
      .hero__button--store:hover {
        background: #fff;
        color: #de2a45;
        border: 2px solid #fff;
        text-decoration: none; }

.about {
  padding: 8rem 0 5rem;
  position: relative;
  background: #241e20;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .about {
      padding: 7rem 0 1rem; } }
  .about .row {
    padding-bottom: 4rem; }
    @media only screen and (max-width: 56.25em) {
      .about .row {
        padding-bottom: 8rem; } }
    @media only screen and (max-width: 37.5em) {
      .about .row {
        padding-bottom: 4rem; } }
  .about__image {
    width: 85%;
    margin: auto;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 37.5em) {
      .about__image {
        width: 100%; } }
  .about__header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 4rem;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .about__header {
        font-size: 4rem; } }
  .about__subheader {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #de2a45;
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .about__subheader {
        font-size: 2.4rem; } }
  .about__text {
    color: #d1d1d1;
    text-align: left;
    padding: 0 6rem 2rem; }
    @media only screen and (max-width: 56.25em) {
      .about__text {
        padding: 0 6rem 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__text {
        padding: 0 0 1rem; } }
  .about__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .about__btn-wrapper {
    display: flex;
    justify-content: space-evenly; }
    @media only screen and (max-width: 56.25em) {
      .about__btn-wrapper {
        padding-bottom: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .about__btn-wrapper {
        flex-direction: column;
        padding-bottom: 2rem; } }
  .about__btn--more {
    color: #fff;
    border: 2px solid #de2a45;
    margin: inherit; }
    .about__btn--more:hover {
      cursor: pointer;
      color: #fff;
      background: #de2a45; }
    @media only screen and (max-width: 37.5em) {
      .about__btn--more {
        margin: 0 auto 1rem; } }
  .about__btn--consultation {
    color: #fff;
    background: #de2a45;
    border: 2px solid #de2a45;
    margin: inherit; }
    .about__btn--consultation:hover {
      cursor: pointer;
      color: #111;
      background: #fff;
      border: 2px solid #de2a45; }
    @media only screen and (max-width: 37.5em) {
      .about__btn--consultation {
        margin: auto; } }
  .about__background {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1; }

.art {
  padding: 70px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #241e20;
  color: #fff; }
  @media only screen and (max-width: 37.5em) {
    .art {
      padding: 50px 0 0; } }
  .art__name {
    font-size: 4.5rem;
    font-family: "Open Sans Condensed", sans-serif; }
  .art__button {
    margin-bottom: 5rem;
    background: #de2a45;
    color: #fff !important;
    border: 2px solid #de2a45; }
    .art__button:hover {
      background: transparent;
      color: #111 !important;
      border: 2px solid #111;
      text-decoration: none; }
  .art__title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8rem;
    color: #fff; }
  .art__hr {
    padding-bottom: 3rem;
    border-top: 4px solid #fff; }
  .art__subheader {
    font-family: inherit;
    font-weight: 400;
    color: #111;
    padding: 1rem 3rem 1.5rem;
    text-align: center;
    font-size: 2rem; }
  .art__photo--wrapper {
    height: 45rem; }
  .art__row {
    padding: 4px;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .art__row__container {
      width: 33%;
      padding: 4px;
      overflow: hidden;
      display: flex;
      flex-direction: column;
      align-items: center; }
      @media only screen and (max-width: 56.25em) {
        .art__row__container {
          width: 50%; } }
      @media only screen and (max-width: 37.5em) {
        .art__row__container {
          width: 100%;
          margin-bottom: 6rem; } }
    .art__row__image {
      width: 100%;
      object-fit: cover;
      height: 41rem;
      padding-bottom: 2rem;
      object-position: top; }
    .art__row__price {
      font-size: 1.4rem;
      text-align: center;
      padding: 0 3.5rem;
      line-height: 1.7;
      font-style: italic; }
    .art__row h4 {
      padding-top: 2rem; }
    .art__row__text {
      padding: 1rem 4rem;
      color: #d1d1d1; }
    .art__row__button {
      border: 2px solid #de2a45;
      color: #fff;
      background: transparent;
      margin-bottom: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .art__row__button {
          margin-bottom: 1rem;
          margin-top: 1rem; } }
      .art__row__button:hover {
        background: #de2a45;
        text-decoration: none;
        color: #fff; }

.profile {
  padding: 5rem 0; }

.profile::after {
  content: "";
  display: block;
  clear: both; }

.profile-image {
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3rem; }

.profile-image img {
  border-radius: 50%; }

.profile-user-settings,
.profile-stats,
.profile-bio {
  float: left;
  width: calc(66.666% - 2rem); }

.profile-user-settings {
  margin-top: 1.1rem;
  display: flex;
  padding-bottom: 1.5rem; }

.profile-user-name {
  display: inline-block;
  font-size: 3.2rem;
  font-weight: 300; }

.profile-edit-btn {
  font-size: 1.4rem;
  line-height: 1.8;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.3rem;
  padding: 0 2.4rem;
  margin-left: 2rem; }

.profile-settings-btn {
  font-size: 2rem;
  margin-left: 1rem; }

.profile-stats {
  margin-top: 2.3rem;
  padding-bottom: 1.5rem; }

.profile-stats li {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  margin-right: 4rem;
  cursor: pointer; }

.profile-stats li:last-of-type {
  margin-right: 0; }

.profile-bio {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 2.3rem; }

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
  font-weight: 600; }

/* Gallery Section */
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
  padding-bottom: 3rem; }

.gallery-item {
  position: relative;
  flex: 1 0 22rem;
  margin: 1rem;
  color: #fff;
  cursor: pointer; }

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.gallery-item-info {
  display: none; }

.gallery-item-info li {
  display: inline-block;
  font-size: 1.7rem;
  font-weight: 600; }

.gallery-item-likes {
  margin-right: 2.2rem; }

.gallery-item-type {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2.5rem;
  text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1); }

.fa-clone,
.fa-comment {
  transform: rotateY(180deg); }

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Loader */
.loader {
  width: 5rem;
  height: 5rem;
  border: 0.6rem solid #999;
  border-bottom-color: transparent;
  border-radius: 50%;
  margin: 0 auto;
  animation: loader 500ms linear infinite; }

/* Media Query */
@media screen and (max-width: 37.5em) {
  .profile {
    display: flex;
    flex-wrap: wrap;
    padding: 4rem 0; }
  .profile::after {
    display: none; }
  .profile-image,
  .profile-user-settings,
  .profile-bio,
  .profile-stats {
    float: none;
    width: auto; }
  .profile-image img {
    width: 7.7rem; }
  .profile-user-settings {
    flex-basis: calc(100% - 10.7rem);
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem; }
  .profile-user-name {
    font-size: 2.2rem; }
  .profile-edit-btn {
    order: 1;
    padding: 0;
    text-align: center;
    margin-top: 1rem; }
  .profile-edit-btn {
    margin-left: 0; }
  .profile-bio {
    font-size: 1.4rem;
    margin-top: 1.5rem; }
  .profile-edit-btn,
  .profile-bio,
  .profile-stats {
    flex-basis: 100%; }
  .profile-stats {
    order: 1;
    margin-top: 1.5rem; }
  .profile-stats ul {
    display: flex;
    text-align: center;
    padding: 1.2rem 0;
    border-top: 0.1rem solid #dadada;
    border-bottom: 0.1rem solid #dadada; }
  .profile-stats li {
    font-size: 1.4rem;
    flex: 1;
    margin: 0; }
  .profile-stat-count {
    display: block; } }

/* Spinner Animation */
@keyframes loader {
  to {
    transform: rotate(360deg); } }

/*

The following code will only run if your browser supports CSS grid.

Remove or comment-out the code block below to see how the browser will fall-back to flexbox & floated styling. 

*/
@supports (display: grid) {
  .profile {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 3rem;
    align-items: center; }
  .profile-image {
    grid-row: 1 / -1; }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    grid-gap: 2rem; }
  .profile-image,
  .profile-user-settings,
  .profile-stats,
  .profile-bio,
  .gallery-item,
  .gallery {
    width: auto;
    margin: 0; }
  @media (max-width: 37.5em) {
    .profile {
      grid-template-columns: auto 1fr;
      grid-row-gap: 1.5rem; }
    .profile-image {
      grid-row: 1 / 2; }
    .profile-user-settings {
      display: grid;
      grid-template-columns: auto 1fr;
      grid-gap: 1rem; }
    .profile-edit-btn,
    .profile-stats,
    .profile-bio {
      grid-column: 1 / -1; }
    .profile-user-settings,
    .profile-edit-btn,
    .profile-settings-btn,
    .profile-bio,
    .profile-stats {
      margin: 0; } } }

.skills {
  padding: 60px 0 80px;
  background: #241e20;
  color: #fff; }
  .skills__title {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8rem;
    color: #fff; }
  .skills__hr {
    border-top: 4px solid #fff; }
  .skills__icon-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .skills__icon-container {
        width: 50%; } }
    .skills__icon-container__icon {
      text-align: center; }
      .skills__icon-container__icon__svg {
        height: 100px;
        width: 100px; }
      .skills__icon-container__icon__title {
        text-align: center;
        padding-top: 1rem;
        color: #d1d1d1; }

.footer {
  background-color: #252525;
  padding: 8rem 0 2rem;
  color: #fff; }
  .footer__logo--container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
  .footer__logo {
    margin: 0 auto;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 8rem;
    transition: color .5s ease; }
    .footer__logo:hover {
      cursor: pointer;
      color: #de2a45; }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        height: 150px; } }
    @media only screen and (max-width: 37.5em) {
      .footer__logo {
        height: 100px; } }
  .footer__tagline {
    text-align: center;
    font-style: italic; }
  .footer__contact--container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }
    @media only screen and (max-width: 37.5em) {
      .footer__contact--container {
        padding-top: 3rem; } }
  .footer__location--wrapper {
    display: flex;
    flex-direction: row;
    padding-bottom: 3rem; }
    .footer__location--wrapper:nth-child(3) {
      padding-bottom: 0; }
    @media only screen and (max-width: 37.5em) {
      .footer__location--wrapper {
        justify-content: center;
        padding-bottom: 2rem; } }
  .footer__icon {
    color: #de2a45;
    font-size: 3rem; }
  .footer a {
    display: flex; }
  .footer a:hover {
    text-decoration: none;
    cursor: pointer; }
  .footer__text {
    margin: auto 0 auto 2rem;
    color: #fff;
    transition: all .3s; }
    .footer__text:hover {
      text-decoration: none;
      color: #de2a45; }
  .footer__copyright--container {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 5rem; }
  .footer__copyright--text {
    color: #fff;
    font-size: 1.2rem; }

.contact {
  padding: 80px 0; }
  @media only screen and (max-width: 37.5em) {
    .contact {
      padding: 40px 0; } }
  .contact .row {
    display: flex;
    flex-direction: column; }
  .contact .form-group {
    display: flex; }
  .contact .form-control {
    font-size: 1.2rem;
    letter-spacing: .1rem; }
  .contact .form-check {
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact .form-check {
        line-height: 2; } }
    .contact .form-check-label {
      margin-left: .5rem; }
  .contact .form-check:nth-child(2) {
    margin: 0 2rem;
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .contact .form-check:nth-child(2) {
        margin: 0 1rem;
        line-height: 2; } }
  .contact__hr {
    padding-bottom: 3rem; }
  .contact__header {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 3.5rem;
    font-weight: 700;
    margin: 0 auto 1rem;
    text-align: center; }
  .contact__text {
    color: #d1d1d1;
    font-weight: 100;
    margin: 0 auto 2rem;
    text-align: center; }
  .contact__preference {
    margin: 0;
    font-size: 1.2rem;
    color: #d1d1d1; }
    @media only screen and (max-width: 37.5em) {
      .contact__preference {
        font-size: 8px;
        line-height: 2.4; } }
  .contact__icon {
    padding-right: 2rem;
    font-size: 4rem; }
  .contact__button {
    color: #fff;
    background: #de2a45;
    border: 2px solid #de2a45; }
    .contact__button:hover {
      color: #de2a45;
      background: #fff; }
