// Colors
$color-body: #fff;
$color-white: #fff;
$color-black: #111;

$color-background-dark: rgb(37, 37, 37);
$color-background-light: #e5e5e5;

$color-primary-header: #000;
$color-primary-text: #666666;

$color-primary-blue: #de2a45;
$color-secondary-blue: #1d414d;

// Font
$default-font-size: 1.6rem;