.contact {
    padding: 18rem 0;
    background: url(/img/contact-bg.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'Ibarra Real Nova', sans-serif;
    color: $color-white;

    &__header {
        margin: 0 auto;
        font-weight: 400;
        font-size: 3rem;
    }
}