.footer {
    background-color: #111;
    padding: 8rem 0 4rem;
    color: $color-white;

    @include respond(phone){
        padding-top: 4rem;
    }

    &__logo--container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding-bottom: 3rem;

        @include respond(phone){
            padding-bottom: 0;
        }
    }

    &__logo {
        margin: 0 auto;
        text-align: center;
        font-family: 'Ibarra Real Nova', sans-serif;
        font-size: 3rem;
        color: $color-primary-text;
        transition: color .5s ease;

        &:hover {
            cursor: pointer;
            color: $color-primary-blue;
        }

        @include respond(tab-port){
            height: 150px;
        }

        @include respond(phone){
            height: auto;
        }
    }

    &__tagline {
        text-align: center;
        font-style: italic;
    }

    &__contact--container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        @include respond(phone){
            padding-top: 3rem;
        }
    }

    &__location--wrapper {
        display: flex;
        flex-direction: row;
        padding-bottom: 1rem;
        text-align: center;
        justify-content: center;

        &:nth-child(3){
            padding-bottom: 0;
        }

        @include respond(phone){
            justify-content: center;
            padding-bottom: 2rem;
        }
    }

    &__icon {
        color: $color-primary-blue;
        font-size: 3rem;
    }

    a {
        display: flex;
    }

    a:hover {
        text-decoration: none;
        cursor: pointer;
    }

    &__text {
        margin: auto 0 auto 2rem;
        color: $color-white;
        font-size: 1.2rem;
        transition: all .3s;

        &:hover {
            text-decoration: none;
            color: $color-primary-blue;
        }
    }

    &__copyright--container {
        display: flex;
        justify-content: center;
        align-content: center;
        padding-top: 5rem;
    }

    &__copyright--text {
        color: $color-primary-text;
        font-size: 1.2rem;
    }
}