.skills {
    padding: 60px 0 80px;
    background: $color-primary-background;
    color: $color-white;

    &__title {
        text-align: center;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 8rem;
        color: $color-white;
    }

    &__hr {
        border-top: 4px solid $color-white;
    }

    &__icon-container {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;

        @include respond(phone){
            width: 50%;
        }

        &__icon {
            text-align: center;

            &__svg {
                height: 100px;
                width: 100px;
            }

            &__title {
                text-align: center;
                padding-top: 1rem;
                color: $color-primary-text;
            }
        }
    }
}